body {
    background-color: rgba(0, 0, 0,);
    color: darkgray;
    text-align: center;
    margin-top: 0;
}
#top-nav {
    overflow: hidden;
    position: fixed;
    background-color: darkgrey;
    top: 0;
    left: 0;
    height: 5%;
    width: 100%;
    text-align: center;
}
#nav-ul {
    display: flex;
    margin-top: 5px;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.nav-links {
    list-style: none;
    
}
a:link, a:visited {
    background-color: darkgrey;
    color: white;
    text-decoration: none;
   
}
  
a:hover, a:active {
    color: blue ;
}
img{
      height: 75px;
      width: 60px;
}
header {
      background-color: slateblue;
}
#bio {
      background-color: steelblue;
}
#resume {
      background-color: blueviolet;
  }
#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
      background-color: steelblue;
}
#projects img {
    height: 20%;
    width: 50%;
}
.project-links {
    list-style: none;
}
.carousel {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.carousel img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.carousel .slide--visible {
    display: block;
}
.carousel .slide--hidden {
    display: none;
}
.carousel button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 3rem;
    top: 50%;
    color: rgba(255, 255, 255);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .3);
}
.carousel button:hover, .carousel button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .5);
} 
#prev {
    left: 1rem;
}
#next {
    right: 1rem;
}