body {
    background-color: blanchedalmond;
    color: darkgray;
    text-align: center;
}
#top-nav {
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.nav-links {
    list-style: none;
}
a:link, a:visited {
    background-color: blanchedalmond;
    color: darkgrey;
    text-decoration: none;
   
  }
  
  a:hover, a:active {
    color: blue ;
  }