*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    background-color: steelblue;
    color: white;
    font-size: 20px;
}
header {
    background-color: steelblue;
}
a {
    color: rgba(255, 255, 255);
    text-decoration: none;
}
#top-nav {
    min-height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
}
#nav-ul {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    z-index: 2;
    background-color: steelblue;
}
.hamburger{
    position: fixed;
    display: none;
    cursor: pointer;
    z-index: 2;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all .3s ease-in-out;
    background-color: white;  
}
@media(max-width:768px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    #top-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 24px;

    }
    #nav-ul{
        position: fixed;
        display: flex;
        left: -150%;
        top: 15px;
        width: 90%;
        flex-direction: row;
        background-color: steelblue;
        text-align: center;
        transition: .3s;
        gap: 0;
    }
    .nav-links {
        margin: 16xp 0;
    }
    #nav-ul.active{
        left: 0;
    }
} 
.nav-links {
    list-style: none;
    
}
a:link, a:visited {
    background-color: steelblue;
    color: white;
    text-decoration: none;
   
}
a:hover, a:active {
    color: purple ;
}
img{
      height: 75px;
      width: 60px;
}
header {
      background-color: steelblue;
}
#bio {
    background-color: steelblue;
}
.card {
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
}
.card_inner {
    width: 100%;
    height: 100%;
    transition: 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card_inner.is-flipped {
    transform: rotateY(180deg);
}
.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, .2);
}
.card_face--front {
    background-image: linear-gradient(to bottom right, white, steelblue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_face--front h2 {
    color: white;
    font-size: 32px;
}
.card_face--back {
    background-image: linear-gradient(to bottom right, white, steelblue);
    transform: rotateY(180deg);
}
.card_content {
    width: 100%;
    height: 100%;
}
.card_header {
    position: relative;
    padding: 30px 30px 40px;
}
.card_header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-color: linear-gradient(to bottom left, white 15%, steelblue 115%);
}
.head {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid white;
    object-fit: cover;

}
#resume {
      background-color: steelblue;
  }
#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
      background-color: steelblue;
}
#projects img {
    height: 20%;
    width: 50%;
}
.project-links {
    list-style: none;
}
.carousel {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.carousel img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.carousel .slide--visible {
    display: block;
}
.carousel .slide--hidden {
    display: none;
}
.carousel button {
    position: absolute;
    z-index: 1;
    background: none;
    border: none;
    font-size: 3rem;
    top: 50%;
    color: rgba(255, 255, 255);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .3);
}
.carousel button:hover, .carousel button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .5);
} 
#prev {
    left: 1rem;
}
#next {
    right: 1rem;
}
.nav-bot {
    min-height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    
}
.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    z-index: 2;
    
}
.soc-links {
    color: rgba(255, 255, 255);
    list-style: none;
}
